.container {
  display: flex;
  justify-content: center;

  .dashboard {
    display: flex;
    flex-direction: row;
    padding: 15px 20px;

    &-header {
     display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 16px;

      h2 {
        margin: 0;
      }

      .avatar {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        margin-left: 5px;
      }

      small {
        margin-left: 10px;
      }

      .logout-btn {
        margin-left: 10px;
      }
    }

    .mat-mdc-button  {
      background-color: #e0e0e0;
      color: #000;
      box-shadow: none;
    }
  }

  mat-card {
    position: fixed;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

    .mat-mdc-card-content {
      padding: 16px;
    }

    .content-row {
      display: flex;
      flex-direction: row;
      gap: 24px;
    }

    .header-row {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 16px;
    }

    .room-header {
      margin: 0;
    }

    .username-display {
      margin-left: 16px;
    }

    .room-item {
      padding: 8px 0;
    }

    .rooms {
      height: 500px;
      width: 100%;
      overflow: auto;
      scrollbar-color: lightgrey darkgrey;
      scrollbar-width: thin;
      margin-top: 16px;

      .mdc-list-item--with-trailing-radio .mdc-list-item__end, .mdc-list-item--with-trailing-checkbox .mdc-list-item__end {
        margin-right: 0;
      }
    }
  }

  .chatroom {
    width: 600px;
    padding: 5px 0 0 16px;
    display: flex;
    flex-direction: column;

    h1 {
      margin: 0 0 5px;
    }
  }
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: aliceblue;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: aliceblue;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: aliceblue;
}
