.container {
  display: flex;
  justify-content: center;

  mat-card {
    position: fixed;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

    .mat-mdc-card-content {
      padding: 16px;
    }

    .content-row {
      display: flex;
      flex-direction: row;
      gap: 24px;
    }

    .header-row {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 16px;
    }

    .room-header {
      margin: 0;
    }

    .username-display {
      margin-left: 16px;
    }

    .room-item {
      padding: 8px 0;
    }

    .rooms {
      height: 500px;
      width: 250px;
      overflow: auto;
      scrollbar-color: lightgrey darkgrey;
      scrollbar-width: thin;
      padding-right: 8px;
      margin-top: 16px;
    }
  }

  .chatroom {
    margin-left: 40px;
    width: 600px;
    padding: 16px 0 0 16px;
  }

  .avatar {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 10px;
  }
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: aliceblue;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: aliceblue;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: aliceblue;
}
