p {
  font-size: medium;
  background-color: lightgray;
  padding: 5px;
  width: fit-content;
  border-radius: 5px;
  margin: 7px;
}

.own-container {
  justify-content: flex-end;
}

.own-message {
  background-color: lightblue;
  align-self: flex-end;
}
