<div *ngIf="chatRoom; else noChatRoomSelected">
  <div class="chat-header">
    <span class="chat-title-row">
      <h2>{{chatRoom.name}}</h2>
      <span class="date-container">
        <mat-icon>event</mat-icon>
        <span class="date-text">{{chatRoom.updated_at | date}}</span>
      </span>
    </span>
    <span>
      <h3 class="chat-description">{{chatRoom.description}}</h3>
      <span *ngFor="let user of chatRoom.users; last as isLast">
        {{user.username}}<ng-container *ngIf="!isLast">,</ng-container></span>
    </span>
  </div>
</div>

<!-- Messages -->
<div #messages class="messages-container">
    <span *ngFor="let message of (messagesPaginate$ | async)?.items">
      <app-chat-message [message]="message"></app-chat-message>
    </span>
</div>

<!-- Add Message -->
<div class="message-input-container">
  <mat-form-field class="message-input">
    <input matInput [formControl]="chatMessage" type="type">
  </mat-form-field>
  <button mat-button [disabled]="!chatMessage.valid" (click)="sendMessage()">
    <span class="send-button-content">
      <mat-icon class="send-icon">send</mat-icon>
      <p class="send-text">Send</p>
    </span>
  </button>
</div>


<ng-template #noChatRoomSelected>
  <mat-error>No Chatroom Selected</mat-error>
</ng-template>
